/*MIXINS HERE*/

.border() {

    border: 2px solid fuchsia;
}

/*NEED 2 MIXINS*/

.flexItCenter() {

    display: flex;

    justify-content: center;

    align-items: center;
}









/*NEED 1 PARAMETRIC MIXINS

button color
text color
width

AT LEAST 2 PARAMETERS
*/